@mixin font($font_name, $file_name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font_name;
    font-style: #{$style};
    font-weight: #{$weight};
    src:
      url("../../fonts/#{$file_name}.woff2") format("woff2"),
      url("../../fonts/#{$file_name}.woff") format("woff");
    font-display: swap;
  }
}

@include font("Montserrat", montserrat-400, 400);
@include font("Montserrat", montserrat-500, 500);
@include font("Montserrat", montserrat-600, 600);
@include font("Montserrat", montserrat-700, 700);
