@import "../global/mixins.scss";
@import "../global/variables.scss";

.catalog {
  display: grid;
  padding: 50px 20px 44px;
  background-color: var(--bg-lighter);
}

.catalog__title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.catalog__form {
  display: grid;
}

.catalog__gist {
  order: -1;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--bright);
  text-transform: uppercase;
  text-align: center;
}

.catalog__range {
  display: grid;
  width: 280px;
  margin: 0 auto 30px;
  padding: 0;
  border: none;
}

.catalog__subtitle {
  margin: 0 0 20px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__subtitle--range {
  grid-area: 1/1/2/4;
}

.catalog__milk-list {
  @include reset-list;
  display: grid;
  gap: 20px;
  margin: 0 0 30px;
}

.catalog__radio {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.catalog__checkbox {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.catalog__country-list {
  @include reset-list;
  display: grid;
  gap: 20px;
  margin: 0 0 30px;
}

.catalog__card-list {
  @include reset-list;
  display: grid;
  gap: 20px;
}

.catalog__button {
  width: 280px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 24px;
}

.catalog__button--light {
  margin: 0 auto 40px;
  color: var(--bright);
  background-color: var(--bg-lightest);
}

.catalog__button--light:disabled {
  background-color: var(--bg-light);
}

.catalog__wrapper-select {
  width: 280px;
  margin: 0 auto;
}

.catalog__wrapper-cards {
  width: 280px;
  margin: 0 auto 40px;
}
