@import "../global/mixins.scss";
@import "../global/variables.scss";

.catalog {
  display: grid;
  padding: 50px 20px 43px;
  background-color: var(--bg-lighter);

  @media (min-width: $tablet) {
    padding: 80px 0 88px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 318px 1011px 1fr;
    gap: 0 30px;
    padding: 98px 0 118px;
  }
}

.catalog__title {
  width: 280px;
  margin: 0 auto 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet) {
    width: 728px;
    margin: 0 auto 21px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    grid-area: 2/2/3/4;
  }
}

.catalog__wrapper-form {
  @media (min-width: $tablet) {
    width: 728px;
    margin: 0 auto 40px;
  }

  @media (min-width: $desktop) {
    grid-area: 3/2/5/3;
    width: 318px;
    margin: 0;
  }
}

.catalog__form {
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: 223px 222px 223px;
    gap: 9px 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    width: 318px;
    gap: 0 20px;
    padding: 20px 0;
  }
}

.catalog__gist {
  order: -1;
  margin: 0 0 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--bright);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.48px;

  @media (min-width: $tablet) {
    margin: 0 0 4px;
  }

  @media (min-width: $desktop) {
    grid-area: 1/2/2/4;
  }
}

.catalog__range {
  display: grid;
  width: 280px;
  margin: 0 auto 31px;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    grid-area: 1/1/2/2;
    width: 223px;
    margin: 0;
    padding: 0 0 144px;
  }

  @media (min-width: $desktop) {
    grid-area: 1/1/2/3;
    width: 318px;
    padding: 0;
    margin: 0 0 30px;
  }
}

.catalog__subtitle {
  margin: 0 0 20px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__subtitle--range {
  grid-area: 1/1/2/4;
}

.catalog__milk-list {
  @include reset-list;
  display: grid;
  gap: 20px;
  margin: 0 0 30px;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.catalog__radio {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    grid-area: 1/2/2/3;
  }

  @media (min-width: $desktop) {
    grid-area: 2/1/3/3;
    width: 318px;
    margin: 0 0 30px;
  }
}

.catalog__country-list {
  @include reset-list;
  display: grid;
  gap: 20px;
  margin: 0 0 30px;
}

.catalog__checkbox {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    grid-area: 1/3/2/4;
  }

  @media (min-width: $desktop) {
    grid-area: 3/1/4/3;
    width: 318px;
    margin: 0 0 8px;
  }
}

.catalog__card-list {
  @include reset-list;
  display: grid;
  gap: 21px;

  @media (min-width: $tablet) {
    grid-template-columns: 349px 349px;
    gap: 31px 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 317px 317px 317px;
    width: 1011px;
  }
}

.catalog__button {
  width: 280px;
  padding: 9px 0 7px;
  margin: -1px auto 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;

  @media (min-width: $tablet) {
    grid-area: 2/1/3/4;
    width: 137px;
    margin: 0 auto 0 226px;
  }

  @media (min-width: $desktop) {
    grid-area: 4/1/5/2;
    width: 149px;
    margin: 0;
  }
}

.catalog__button--light {
  margin: 0 auto 40px;
  color: var(--bright);
  background-color: var(--bg-lightest);

  @media (min-width: $tablet) {
    grid-area: 2/1/3/4;
    width: 120px;
    margin: 0 226px 0 auto;
  }

  @media (min-width: $desktop) {
    grid-area: 4/2/5/3;
    width: 149px;
    margin: 0;
  }
}

.catalog__button--light:disabled {
  background-color: var(--bg-light);
}

.catalog__wrapper-select {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto 26px;
  }

  @media (min-width: $desktop) {
    grid-area: 3/3/4/4;
    width: 1011px;
    padding: 16px 0 0;
  }
}

.catalog__wrapper-cards {
  width: 280px;
  margin: 0 auto 41px;

  @media (min-width: $tablet) {
    width: 728px;
    margin: 0 auto 70px;
  }

  @media (min-width: $desktop) {
    grid-area: 4/3/5/4;
    width: 1011px;
    margin: 0 auto 60px;
  }
}
