@import "../global/mixins.scss";
@import "../global/variables.scss";

.filter__radio {
  position: relative;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding-left: 59px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.filter__radio-backup {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-mega-light);
  border-radius: 50%;
  background-color: var(--bg-lightest);

  @media (min-width: $tablet) {
    top: -10px;
    width: 40px;
    height: 40px;
  }
}

.filter__radio:hover .filter__radio-backup {
  border: 1px solid var(--border-cloudy);
}

.filter__radio-invis:focus + .filter__radio-backup {
  border: 1px solid var(--border-bright);
}

.filter__radio-invis:checked + .filter__radio-backup::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  background-color: var(--bg-bright);
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet) {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}
//
.filter__radio-invis:disabled + .filter__radio-backup::before,
.filter__radio-invis:disabled ~ .filter__radio-text {
  opacity: 0.3;
}

.filter__radio-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-casual);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
  }
}
