@import "../global/mixins.scss";
@import "../global/variables.scss";

.footer {
  flex-grow: 0;
  flex-shrink: 0;
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: 223px 222px 223px;
    gap: 0 30px;
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1440px;
    margin: 0 auto;
    padding: 40px;
  }
}

.footer__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    grid-area: 1/1/2/4;
    padding: 42px 0 20px;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 1/1/2/2;
    padding: 0;
    display: block;
  }
}

.footer__title {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--bright);
  text-transform: uppercase;
}

.footer__online {
  padding: 20px;
  border-bottom: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    grid-area: 2/1/3/2;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 1/2/2/3;
  }
}

.footer__online-list,
.footer__media-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__online-link,
.footer__media-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--main);
  text-transform: uppercase;
}

.footer__online-link:hover,
.footer__media-link:hover,
.footer__contacts-link:hover,
.footer__online-link:focus,
.footer__media-link:focus,
.footer__contacts-link:focus {
  color: var(--casual);
}

.footer__online-link:active,
.footer__media-link:active,
.footer__contacts-link:active {
  color: var(--rare);
}

.footer__media {
  padding: 20px;
  border-bottom: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    grid-area: 2/2/3/3;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 1/3/2/4;
  }
}

.footer__contacts {
  padding: 20px;
  border-bottom: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    grid-area: 2/3/3/4;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 1/4/2/5;
  }
}

.footer__contacts-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--main);
}

.footer__contacts-adress {
  display: flex;
  justify-content: left;
  gap: 6px;

  &::before {
    position: relative;
    top: 2px;
    @include pseudo;
    width: 19px;
    height: 16px;
    background-image: url(../../images/icons/address-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.footer__contacts-tel {
  display: flex;
  justify-content: left;
  gap: 6px;

  &::before {
    position: relative;
    top: 2px;
    @include pseudo;
    width: 19px;
    height: 16px;
    background-image: url(../../images/icons/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.footer__academy-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 66px;
  margin: 0 auto;
  color: var(--common);
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    grid-area: 3/1/4/4;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 2/1/3/5;
  }
}

.footer__academy-text {
  display: inline-flex;

  &::after {
    position: relative;
    left: 4px;
    @include pseudo;
    width: 12px;
    height: 16px;
    mask-image: url("../../images/stack.svg#academy");
    background-color: var(--bg-darker);
  }
}

.footer__academy-link:hover,
.footer__academy-link:focus {
  color: var(--bright);
}

.footer__academy-link:active {
  color: var(--rare);
}

.footer__academy-link:hover .footer__academy-text::after,
.footer__academy-link:focus .footer__academy-text::after {
  background-color: var(--bg-dark);
}

.footer__academy-link:active .footer__academy-text::after {
  background-color: var(--bg-dark-more);
}


