@import "../global/mixins.scss";
@import "../global/variables.scss";

.header {
  width: $mobile;
  min-height: 60px;
  margin: 0 auto;
}

.header__list {
  @include reset-list;
}

.header__link {
  color: var(--main);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}
