@import "../global/mixins.scss";
@import "../global/variables.scss";

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto 120px 60px;
  width: 100%;
  min-height: 60px;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;

  @media (min-width: $tablet) {
    grid-template-columns: 122px 1fr auto;
    min-height: 80px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.header__navigation {
  grid-area: 2/1/3/4;
  z-index: 1;
  min-width: 100%;
  background-color: var(--bg-lightest);

  @media (min-width: $tablet) {
    grid-area: 1/2/2/3;
    min-width: 399px;
    margin: 0 auto 0 67px;
  }
}

.header__navigation--closed {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.header__navigation--opened {
  position: absolute;

  @media (min-width: $tablet) {
    position: static;
  }
}

.header__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.header__list li {
  &:last-child {
    border-bottom: 1px solid var(--border-light);

    @media (min-width: $tablet) {
      border: none;
    }
  }
}

.header__item--current::after {
  @media (min-width: $tablet) {
    @include pseudo;
    width: 100%;
    box-shadow: 0 -1px 0 1px var(--border-bright);
  }

  // @media (min-width: $desktop) {
  //   box-shadow: 0 5px 0 1px var(--border-bright);
  // }
}

.header__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 57px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--main);
  text-transform: uppercase;
  border-top: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    border: none;
    padding: 32px 20px;
  }
}

.header__item--current .header__link {
  color: var(--bright);
}

.header__toggle {
  position: relative;
  grid-area: 1/3/2/4;
  width: 60px;
  height: 60px;
  padding: 0;
  align-self: center;
  border: none;
  background: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__navigation--closed + .header__toggle::before {
  @include pseudo;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: var(--bg-darkest);
  box-shadow: 0 6px 0 0 var(--bg-darkest), 0 12px 0 0 var(--bg-darkest);
}

.header__navigation--opened + .header__toggle::before,
.header__navigation--opened + .header__toggle::after {
  @include pseudo;
  position: absolute;
  top: 29px;
  left: 21px;
  width: 18px;
  height: 2px;
  background-color: var(--bg-darkest);
}

.header__navigation--opened + .header__toggle::before {
  transform: rotate(45deg);
}

.header__navigation--opened + .header__toggle::after {
  transform: rotate(-45deg);
}
