@import "../global/mixins.scss";
@import "../global/variables.scss";

.hero {
  display: grid;
  grid-template-columns: 1fr 140px 140px 1fr;
  background-color: var(--bg-bright);

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 304px 304px 1fr;
    background: linear-gradient(to bottom, var(--bg-bright) 640px, var(--bg-lightest) 80px 100%),
  }
}

.hero__title {
  grid-area: 3/2/4/4;
  width: 280px;
  margin: 0 auto 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;

  @media (min-width: $tablet) {
    grid-area: 2/2/3/4;
    width: 608px;
    font-size: 56px;
    line-height: 80px;
    margin: 0 auto 16px;
  }
}

.hero__gist {
  grid-area: 2/2/3/4;
  margin: 0 auto 4px;
  color: var(--bright);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    grid-area: 1/2/2/4;
    margin: 60px auto 4px;
  }
}

.hero__text {
  grid-area: 4/2/5/4;
  width: 280px;
  margin: 0 auto 24px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    grid-area: 3/2/4/4;
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }
}

.hero__price {
  grid-area: 5/2/6/3;
  display: inline-flex;
  align-items: center;
  margin: 0 20px 60px auto;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;

  @media (min-width: $tablet) {
    grid-area: 4/2/5/3;
    margin: 0 20px 20px auto;
  }
}

.hero__price--old {
  grid-area: 5/2/6/3;
  margin: 2px 77px 60px auto;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--bright);

  @media (min-width: $tablet) {
    grid-area: 4/2/5/3;
    margin: 2px 77px 20px auto;
  }
}

.hero__button {
  grid-area: 5/3/6/4;
  margin: 0 auto 60px 0;
  width: 113px;

  @media (min-width: $tablet) {
    grid-area: 4/3/5/4;
    margin: 0 auto 20px 0;
  }
}
