@import "../global/mixins.scss";
@import "../global/variables.scss";

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 20px 0;
  background-color: var(--bg-bright);
}

.hero__image {
  grid-area: 1/1/2/4;
  margin: 0 auto 10px;
}

.hero__title {
  grid-area: 3/1/4/4;
  margin: 0 auto 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.hero__gist {
  grid-area: 2/1/3/4;
  margin: 0 auto 4px;
  color: var(--bright);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text {
  grid-area: 4/1/5/4;
  margin: 0 auto 24px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

}

.hero__price {
  grid-area: 5/2/6/3;
  display: inline-flex;
  align-items: center;
  margin: 0 20px 44px auto;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.hero__price--old {
  grid-area: 5/1/6/2;
  margin: 2px -5px 44px auto;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--bright);
}

.hero__button {
  grid-area: 5/3/6/4;
  margin: 0 auto 44px 0;
  width: 113px;
}
