@import "../global/mixins.scss";
@import "../global/variables.scss";

.range {
  grid-area: 2/1/3/4;
  display: grid;
  width: 100%;

  @media (min-width: $tablet) {
    width: 223px;
  }

  @media (min-width: $desktop) {
    width: 318px;
  }
}

.range__bar {
  grid-area: 1/1/2/2;
  width: 100%;
  height: 2px;
  margin: 11px 0 0;
  background-color: var(--bg-light);
}

.range__scale {
  grid-area: 1/1/2/2;
  width: 86%;
  height: 4px;
  margin: 10px 0 0;
  background-color: var(--bg-brighter);
}

.range__toggle {
  position: relative;
  grid-area: 1/1/2/2;
  width: 24px;
  height: 24px;
  margin: 0 0 24px;
  border-radius: 50%;
  border: 2px solid var(--bg-brighter);
  background-color: var(--bg-lightest);

  @media (min-width: $tablet) {
    margin: 0 0 20px;
  }
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  left: 83%;
}

.range__price {
  width: 118px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 2px solid var(--bg-brighter);

  @media (min-width: $tablet) {
    width: 87px;
    height: 40px;
  }

  @media (min-width: $desktop) {
    width: 134px;
  }
}

.range__price--from {
  grid-area: 3/1/4/2;
}

.range__dash {
  grid-area: 3/2/4/3;
  width: 8px;
  height: 2px;
  margin: auto;
  background-color: var(--bg-darker);

  @media (min-width: $tablet) {
    margin: 20px auto;
  }
}

.range__price--to {
  grid-area: 3/3/4/4;
  margin: 0 0 0 auto;
}
