@import "../global/mixins.scss";
@import "../global/variables.scss";

.slider {
  grid-area: 1/2/2/4;
  width: 280px;
  height: 300px;
  padding: 20px 0 0;
  margin: 0 auto 10px;

  @media (min-width: $tablet) {
    grid-area: 5/2/7/4;
    width: 476px;
    height: 476px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    grid-area: 1/2/5/3;
    width: 600px;
    height: 600px;
    margin: 30px 30px 84px 25px;
  }
}

.slider-button-prev,
.slider-button-next {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--bg-bright);

  &::before {
    @include pseudo;
    width: 11px;
    height: 20px;
    margin: auto;
    background-color: var(--bg-dark);
  }

  @media (min-width: $tablet) {
    height: 640px;
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.slider-button-prev {
  grid-area: 1/1/6/2;

  &::before {
    mask-image: url("../../images/stack.svg#left-arrow");
  }
}

.slider-button-next {
  grid-area: 1/4/6/5;

  &::before {
    mask-image: url("../../images/stack.svg#right-arrow");
  }
}

.slider-button-prev:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
}

.slider-button-next:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.00) 0%, rgba(120, 89, 207, 0.25) 100%);
}

.slider-pagination {
  display: none;

  @media (min-width: $desktop) {
    grid-area: 5/2/6/4;
    display: block;
    width: 202px;
    height: 24px;
    margin: 0 auto;
    background-color: aqua;
  }
}

