@import "../global/mixins.scss";
@import "../global/variables.scss";

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px 0 16px 3px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 279px;
    margin: 1px 23px 0 auto;
  }

  @media (min-width: $desktop) {
    width: 283px;
    margin: 0 0 0 auto;
  }
}

.sorting__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sorting__panel {
  appearance: none;
  width: 165px;
  height: 32px;
  padding: 4px 13px;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--bright);
  background-color: var(--bg-lighter);
  background-repeat: no-repeat;
  background-position: calc(100% - 0.45em) 13px;
  background-size: 10px 6px;
  background-image: url("../../images/icons/stack.svg#arrow-down");
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: $desktop) {
    width: 169px;
  }
}

.sorting__panel:hover,
.sorting__panel:focus {
  background-color: var(--bg-lavender);
}

select:active:not([multiple]) {
  appearance: none;
  border: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.45em) 13px;
  background-size: 10px 6px;
  background-image: url("../../images/icons/stack.svg#arrow-up");
}

